<%- layout("/layouts/boilerplate.ejs") %>
<div class="sidebar-wrap">
  <div id="sidebar" class="close">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/auth/register">Register</a></li>
      <li><a href="/api/auth/login">Login</a></li>
      <li><a href="/api/tasks/<%= userId %>">All tasks</a></li>
      <li>Important</li>
      <li>Dashboard</li>
    </ul>
  </div>
</div>

