<%- layout("/layouts/boilerplate.ejs") %>
<!-- <button onclick="disappear()">cross</button> -->
<div id="sidebar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/auth/regitser">Register</a></li>
    <li><a href="/api/auth/login">Login</a></li>
    <li>Completed</li>
    <li>All tasks</li>
    <li>Important</li>
    <li>Dashboard</li>
  </ul>
</div>


