<div
  style="
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 50%;
    top: 10%;
    transform: translate(15%, 15%);
  "
>
  <h2>Completed Tasks</h2>
  <div class="accordion" style="height: 300px; overflow-y: scroll">
    <% completedTasks.forEach((task, index) => { %>
    <div class="accordion-item" id="citem-<%= index %>">
      <div class="accordion-header">
        <p><%= index %> &nbsp; <span><%= task.task %></span></p>
        <form
          action="/api/tasks/deleteTask/<%= task._id %>?_method=DELETE"
          method="post"
        >
          <button id="deletebtn"><i class="fa-solid fa-trash"></i></button>
        </form>
      </div>
    </div>
    <% }) %>
  </div>
</div>
