<%- layout("/layouts/boilerplate.ejs") %>
<%- include("includes/navbar.ejs") %>

<div id="login">
<form action="" method="post" class="form">
  <input type="email" name="email" placeholder="Email" /><br>
  <input type="password" name="password" placeholder="Password" /><br>
  <input type="submit" value="Login" id="button" />
</form>
<div>Not registered? <a href="/api/auth/register">get registered</a></div>
</div>