<%- layout("/layouts/boilerplate.ejs") %>
<%- include("includes/navbar.ejs") %>
<div id="register">
<form action="" method="post" class="form">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Register" />
</form>
<div>If already registered <a href="/api/auth/login">login</a></div>
</div>