<%- layout("/layouts/boilerplate.ejs") %>
<div id="wrapper">
  <div class="back"><a href="/">Back</a></div>

  <div class="form-div">
    <h3>New Form</h3>
    <form method="post">
      <input type="hidden" name="userId" value="<%= userId %>" />
      <div>
        <label class="form-label">Task:</label>
        <input type="text" name="task" class="form-control" />
      </div>
      <div>
        <label class="form-label">Description:</label>
        <textarea
          name="description"
          cols="80"
          rows="4"
          class="form-control"
        ></textarea>
      </div>
      <div>
        <label class="form-label">Date of Start:</label>
        <input type="date" name="DOS" class="form-control" />
      </div>
      <div>
        <label class="form-label">Due Date:</label>
        <input type="date" name="DOE" class="form-control" />
      </div>
      <div>
        <label class="form-label">Status:</label>
        <select name="status" id="status" class="form-control">
          <option id="pending" value="pending">Pending</option>
          <option value="completed">Completed</option>
          <option value="inprogress">Inprogress</option>
        </select>
      </div>
      <div>
        <label class="form-label">Nature of Task:</label>
        <!-- <input type="text" name="natureOfTask"/> -->

        <label class="form-label" for="natureOfTask">Important</label>
        <input
          type="radio"
          name="natureOfTask"
          id="Important"
          value="Important"
        />
        <label class="form-label" for="natureOfTask">Urgent</label>
        <input type="radio" name="natureOfTask" id="Urgent" value="Urgent" />
      </div>
      <div style="display: flex; justify-content: center">
        <button class="btn btn-primary">Add Task</button>
      </div>
    </form>
  </div>
</div>
