* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* #wrapper{
  /* height: 448px;
  width: 400px;
  color: white;
  background-color: #66a3ff;

  background-image: repeating-linear-gradient(
      transparent,
      transparent 50px,
      purple 50px,
      purple 53px,
      transparent 53px,
      transparent 63px,
      purple 63px,
      purple 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    ),
    repeating-linear-gradient(
      270deg,
      transparent,
      transparent 50px,
      purple 50px,
      purple 53px,
      transparent 53px,
      transparent 63px,
      purple 63px,
      purple 66px,
      transparent 66px,
      transparent 116px,
      rgba(0, 0, 0, 0.5) 116px,
      rgba(0, 0, 0, 0.5) 166px,
      rgba(255, 255, 255, 0.2) 166px,
      rgba(255, 255, 255, 0.2) 169px,
      rgba(0, 0, 0, 0.5) 169px,
      rgba(0, 0, 0, 0.5) 179px,
      rgba(255, 255, 255, 0.2) 179px,
      rgba(255, 255, 255, 0.2) 182px,
      rgba(0, 0, 0, 0.5) 182px,
      rgba(0, 0, 0, 0.5) 232px,
      transparent 232px
    );
} */

/* background: #2980B9;  fallback for old browsers */
/* background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

#wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #9ed5e9,
    rgb(161, 222, 241),
    rgb(243, 245, 246)
  );
  background: -webkit-linear-gradient(
    to bottom,
    #7ddafc,
    rgb(140, 194, 211),
    rgb(244, 247, 249)
  );
  height: 100vh;
}

#navbar {
  width: 100%;
}

#navbar ul {
  right: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}


.sidebar-wrap {
  display: flex;
  flex-direction: column;
}
#sidebar {
  background-color: rgb(59, 86, 220);
  width: 250px;
  height: 100vh;
  animation-name: open;
  animation-direction: normal;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}


#sidebar ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sidebar ul li,
#sidebar ul li a {
  list-style: none;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  color: white;
}

.form-div {
  background-color: rgba(255, 255, 2555, 0.3);
  box-shadow: 2px 10px 10px rgb(156, 145, 145), 2px 10px 10px rgb(110, 104, 104),
    2px 10px 10px rgb(135, 120, 120);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 40%;
  height: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}

#wrapperSideAndShow {
  display: flex;
  height: 100vh;
}

#showtasks {
  background-color: #7ddafc;
  display: flex;
  width: 100%;
  margin: 20px;
  border-radius: 30px;
}

#insideShow {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
}

.bttn {
  border: none;
  padding: 3px;
}

#sidebar-cross {
  margin:10px 10px;
  height: 30px;
  width: 30px;
  border: white;
  border-radius: 50%;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 5px #bebebe, -2px -2px 5px #ffffff;
}



.task-form {
  height: 600px;
  width: 40%;
  background-color: aqua;
}

.task-form form {
  display: flex;
  margin: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-form div {
  width: 80%;
  display: flex;
  margin: 10px;
  align-items: center;
}
.task-form div input {
  margin: 20px;
  width: 200px;
}

/* Home Page Elements */
#home {
  width: 100%;
  height: 100vh;
  background-color: rgb(144, 201, 218);
}

#home-wrap {
  width: 100%;
}

#home-wrap div {
  padding-left: 30px;
}

#home-outer {
  margin: 40px auto;
  background-color: rgb(220, 213, 216);
  width: 90%;
  padding: 30px;
}

#checklistimage {
  width: 400px;
}

#rspan {
  font-size: 3.5rem;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.back {
  width: 100%;
  padding: 15px 30px;
  background-color: rgba(240, 233, 233, 0.3);
  backdrop-filter: blur(10px);
}
.back a {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color: white;
  width: 20px;
}
.back a::after {
  content: "";
  position: absolute;
  background-color: rgb(50, 199, 236);
  width: 0;
  height: 2px;
  left: 10px;
  z-index: 1;
  bottom: -2px;
  left: -5px;
  transition: width 0.3s ease-in;
}
.back a:hover::after {
  width: 120%;
}

.close {
  display: none;
}
.open {
  display: block;
}

#taskAccordion {
  width: 80%;
  max-height: 400px;
  overflow-y: scroll;
}
.accordion {
  /* stack overflow */
  overflow-y: scroll;
  overflow-x: hidden;
}
.accordion-item {
  width: 100%;
  background-color: white; 
}
.accordion-header {
  background-color: white;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordion-content {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.6s ease, padding 0.4s ease;
}
.accordion-item.active .accordion-content {
  max-height: max-content;
}

#deletebtn {
  border: none;
}
/* scroll bar of the accordion */
.accordion::-webkit-scrollbar {
  width: 10px;
}

.accordion::-webkit-scrollbar-thumb {
  background-color: rgb(43, 152, 215);
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

#doneBagde{
  display: none;
}
.active{
  display: inline;
}